@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --charcoal: #1a1818;
    --offwhite: #ece7e1;
    --coral: #cf8479;
    --blue: #3e52ae;
    --nude: #f1d5bf;
    --red: #ff471a;
    --pinkdust: #c69e91;
    --white: white;
    --black: black;
    --new-red: orangered;
    --pink: #f8c9e8;
    --new-pink: #ff94c1;
}

body {
  font-family: Poppins;
  background: var(--charcoal);
  color: var(--offwhite)
}
